docs/N8N/audio_avisa/BAIXAR AUDIO AVISA API.json
{
  "name": "BAIXAR AUDIO AVISA API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e92f1665-28e7-4746-aabe-1fb4709bd87b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bda47789-4f88-4a95-be04-3bcc81a2e2d6",
      "name": "Webhook",
      "webhookId": "e92f1665-28e7-4746-aabe-1fb4709bd87b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.avisaapi.com.br/api/message/download/audio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer usdMs1XYn9b54s3g5HA88tacd6I1P4v6y63LEuyvqKoWC8BL3ubItkiewopJ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Url",
              "value": "={{ $json.event.Message.audioMessage.URL.toString() }}"
            },
            {
              "name": "DirectPath",
              "value": "={{ $json.event.Message.audioMessage.directPath.toString() }}"
            },
            {
              "name": "MediaKey",
              "value": "={{ $json.event.Message.audioMessage.mediaKey.toString() }}"
            },
            {
              "name": "Mimetype",
              "value": "={{ $json.event.Message.audioMessage.mimetype.toString() }}"
            },
            {
              "name": "FileEncSHA256",
              "value": "={{ $json.event.Message.audioMessage.fileEncSHA256.toString() }}"
            },
            {
              "name": "FileSHA256",
              "value": "={{ $json.event.Message.audioMessage.fileSHA256.toString() }}"
            },
            {
              "name": "FileLength",
              "value": "={{ $json.event.Message.audioMessage.fileLength }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "id": "6bf2a82d-a3a7-4904-be11-148bab766718",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio",
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        912,
        0
      ],
      "id": "3564cdf1-f66d-437c-8b25-9c67ffc19f82",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "= {{ $json.body.jsonData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a548c543-f3be-4458-adb9-795ca0974194",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b18ede28-1d4a-4b4d-ab0f-464f6917312a",
              "name": "base64",
              "value": "={{ $json.data.data.Data.split(\"base64,\")[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        0
      ],
      "id": "6ecaff00-3db3-49af-897d-cf8f85bdf543",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a4c8c27d-ffa1-4bcc-a2b4-90da08f1216c",
  "meta": {
    "instanceId": "4469f4e7bd05e67223920df02f50a77f8a25476bdb001586a7cc93f7239adaa1"
  },
  "id": "P97sTJZB1UDMpdYWa0pwY",
  "tags": []
}