scripts/n8n_fenice_tim_v3.json
{
  "name": "Fenice_Tim — WhatsApp IVR v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fenice-tim",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-001",
      "name": "1. Receber Mensagem (AvisaAPI)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        400
      ],
      "webhookId": "fenice-tim-v3"
    },
    {
      "parameters": {
        "jsCode": "// ── Extrai e normaliza — suporta AvisaAPI real (jsonData) e curl flat ──\nconst raw = $input.first().json;\nconst body = raw?.body || raw;\nlet jsonData = body?.jsonData || {};\nif (typeof jsonData === 'string') { try { jsonData = JSON.parse(jsonData); } catch(e) { jsonData = {}; } }\nconst info = jsonData?.event?.Info || {};\nconst msg  = jsonData?.event?.Message || {};\n\nif (info?.IsFromMe) return [{ json: { _skip: true, motivo: \"fromMe\" } }];\nif (info?.IsGroup)  return [{ json: { _skip: true, motivo: \"grupo\" } }];\n\nconst chatJid    = info?.Chat || info?.Sender || \"\";\nconst flatNumero = body?.number || body?.from || body?.phone || \"\";\nconst numero     = (chatJid.split(\"@\")[0] || flatNumero).replace(/[^0-9]/g, \"\");\n\nconst flatMsg  = (typeof body?.message === \"string\" ? body.message : \"\") || body?.text || body?.content || \"\";\nconst mensagem = (msg?.conversation || msg?.extendedTextMessage?.text || msg?.imageMessage?.caption || flatMsg).trim();\n\nconst nome      = info?.PushName || body?.name || body?.pushName || \"Cliente\";\nconst messageId = info?.ID       || body?.id   || \"\";\nconst sessionId = info?.Chat     || body?.chatId || body?.session || \"\";\n\nif (!numero || !mensagem) return [{ json: { _skip: true, motivo: \"sem numero ou mensagem\" } }];\n\nconst msgLower    = mensagem.toLowerCase().replace(/[!.?]+$/, \"\").trim();\nconst STOP_WORDS  = [\"parar\",\"stop\",\"sair\",\"cancelar\"];\nconst RESET_WORDS = [\"menu\",\"inicio\",\"início\",\"voltar\",\"reiniciar\"];\nconst MENU_OPCOES = {\"1\":\"b2b\",\"2\":\"academico\",\"3\":\"observatorio\",\"4\":\"api\",\"5\":\"juridico\",\"6\":\"filosofia\",\"0\":\"humano\"};\n\nreturn [{ json: { _skip: false, numero, nome, mensagem, msgLower, sessionId, messageId,\n  isStop: STOP_WORDS.includes(msgLower), isReset: RESET_WORDS.includes(msgLower),\n  opcaoMenu: MENU_OPCOES[msgLower] || null } }];"
      },
      "id": "node-002",
      "name": "2. Extrair e Normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-003",
      "name": "3. Mensagem válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stop-check",
              "leftValue": "={{ $json.isStop }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-004",
      "name": "4. É PARAR?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        820,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.avisaapi.com.br/api/actions/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gFm8iB2bF2MpqGeEFxsv6oqp7VAkUGg2xVRAqDVa5gSniojrrpJLMmyZNExQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('2. Extrair e Normalizar').item.json.numero }}"
            },
            {
              "name": "message",
              "value": "Atendimento encerrado. Obrigado por contatar a *Fenice IT Justech.IA*! 🙏\nQuando precisar, é só chamar novamente.\n\n_© 2026 Fenice IT Justech.IA_"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-005",
      "name": "5a. Enviar MSG PARAR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qcfdssnpjzvjbvemhrik.supabase.co/rest/v1/whatsapp_optouts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjZmRzc25wanp2amJ2ZW1ocmlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwMzQ3OSwiZXhwIjoyMDk3Mjc5NDc5fQ.1492WOIw4KpT4u57zx-DyT-5O8gEawkWWtjUXMWA2-I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjZmRzc25wanp2amJ2ZW1ocmlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwMzQ3OSwiZXhwIjoyMDk3Mjc5NDc5fQ.1492WOIw4KpT4u57zx-DyT-5O8gEawkWWtjUXMWA2-I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "numero",
              "value": "={{ $('2. Extrair e Normalizar').item.json.numero }}"
            },
            {
              "name": "nome",
              "value": "={{ $('2. Extrair e Normalizar').item.json.nome }}"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "id": "node-005b",
      "name": "5b. Salvar Opt-Out Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Busca contato no Supabase — SEMPRE retorna 1 item com { contatos: [...] }\nconst dadosMsg = $('2. Extrair e Normalizar').first().json;\nconst { numero } = dadosMsg;\nconst SUPA_URL = 'https://qcfdssnpjzvjbvemhrik.supabase.co';\nconst SUPA_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjZmRzc25wanp2amJ2ZW1ocmlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwMzQ3OSwiZXhwIjoyMDk3Mjc5NDc5fQ.1492WOIw4KpT4u57zx-DyT-5O8gEawkWWtjUXMWA2-I';\n\nlet contatos = [];\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPA_URL}/rest/v1/fenice_tim_contatos?numero=eq.${numero}&limit=1`,\n    headers: { 'apikey': SUPA_KEY, 'Authorization': `Bearer ${SUPA_KEY}` }\n  });\n  contatos = Array.isArray(resp) ? resp : [];\n} catch(e) {\n  contatos = [];\n}\n\nreturn [{ json: { contatos } }];"
      },
      "id": "node-006",
      "name": "6. Buscar Contato Tim (Supabase)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Decide o próximo passo com base no perfil do contato ──────────\nconst dadosMsg = $('2. Extrair e Normalizar').first().json;\nconst contatosArr = ($input.first().json.contatos) || [];\nconst contato = contatosArr.length > 0 ? contatosArr[0] : null;\n\nconst areaAtual = contato ? contato.area : null;\nconst { isReset, opcaoMenu, numero, nome, mensagem } = dadosMsg;\n\n// Reset explícito ou contact quer voltar ao menu\nif (isReset) {\n  return [{ json: { _acao: 'menu_principal', numero, nome, mensagem, areaAtual: null } }];\n}\n\n// Contato novo (sem área) ou opção inválida → menu principal\nif (!areaAtual && !opcaoMenu) {\n  return [{ json: { _acao: 'menu_principal', numero, nome, mensagem, areaAtual: null } }];\n}\n\n// Contato sem área + escolheu opção válida → salva área e responde\nif (!areaAtual && opcaoMenu) {\n  if (opcaoMenu === 'humano') {\n    return [{ json: { _acao: 'humano', numero, nome, mensagem, areaAtual: 'humano' } }];\n  }\n  return [{ json: { _acao: 'set_area', numero, nome, mensagem, areaAtual: opcaoMenu } }];\n}\n\n// Contato com área definida → responde na área\nreturn [{ json: { _acao: 'responder', numero, nome, mensagem, areaAtual } }];"
      },
      "id": "node-007",
      "name": "7. Decidir Próxima Ação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        520
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._acao }}",
                    "rightValue": "menu_principal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._acao }}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "humano"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._acao }}",
                    "rightValue": "set_area",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "set_area"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._acao }}",
                    "rightValue": "responder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "responder"
            }
          ]
        },
        "options": {}
      },
      "id": "node-008",
      "name": "8. Switch por Ação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1260,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.avisaapi.com.br/api/actions/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gFm8iB2bF2MpqGeEFxsv6oqp7VAkUGg2xVRAqDVa5gSniojrrpJLMmyZNExQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('7. Decidir Próxima Ação').item.json.numero }}"
            },
            {
              "name": "message",
              "value": "🏛️ ⚖️ *FENICE IT · Justech.IA* ⚖️ 🏛️\n_Filosofia e Direito · Sabedoria e Justiça_\n                _Est. MCMLXII_\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nOlá! Sou o *Téo* 🤖\nAssistente inteligente da Fenice IT.\nEm que posso ajudá-lo(a) hoje?\n\n*1*  🏢  B2B Corporativo\n*2*  🎓  Ensino Jurídico\n*3*  👁️  Observatório da Mulher SFS\n*4*  ⚡  API & Desenvolvedores\n*5*  ⚖️  Consultoria Jurídica\n*6*  🧠  Filosofia & Teologia\n*0*  🙋  Falar com Especialista\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n_Digite o número e pressione enviar_\n\n© 2026 *Fenice IT* · Justech.IA"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-009",
      "name": "9a. Enviar Menu Principal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.avisaapi.com.br/api/actions/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gFm8iB2bF2MpqGeEFxsv6oqp7VAkUGg2xVRAqDVa5gSniojrrpJLMmyZNExQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('7. Decidir Próxima Ação').item.json.numero }}"
            },
            {
              "name": "message",
              "value": "👤 *Atendimento Humano Solicitado*\n\nAnotamos seu contato! Um especialista da Fenice IT entrará em contato em breve.\n\n📧 contato@fenice.ia.br\n🌐 fenice.ia.br\n\n_© 2026 Fenice IT Justech.IA_"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-009b",
      "name": "9b. Enviar MSG Humano",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Monta system prompt por área + busca histórico e RAG ──────────\nconst dados = $input.first().json;\nconst { numero, nome, mensagem, areaAtual } = dados;\n\nconst SYSTEM_PROMPTS = {\n  b2b: `Você é o assistente comercial B2B da Fenice IT Justech.IA, via WhatsApp. Foco: soluções corporativas para escritórios de advocacia e empresas (API jurídica, RAG, planos enterprise, SLA). Seja consultivo e direto. Colete nome, empresa e necessidade. Demonstrou interesse real → ofereça demo: contato@fenice.ia.br. Cliente: ${nome}. © 2026 Fenice IT Justech.IA`,\n  academico: `Você é o assistente acadêmico da Fenice IT Justech.IA, via WhatsApp. Auxilia estudantes e professores de direito com pesquisa, TCC, artigos científicos. Base: 5685 artigos, súmulas STJ/STF, legislação federal. Seja didático. Acesso premium: fenice.ia.br/premium. Cliente: ${nome}. © 2026 Fenice IT Justech.IA`,\n  observatorio: `Você é o assistente do Observatório da Mulher SFS (Fenice IT), via WhatsApp. Apoio a vítimas de violência doméstica. EMERGÊNCIA → diga IMEDIATAMENTE: ligue 190 ou 180. Seja acolhedor e claro. Lei Maria da Penha (Lei 11.340/2006). Cliente: ${nome}. © 2026 Fenice IT Justech.IA`,\n  api: `Você é o assistente técnico da Fenice IT Justech.IA, para desenvolvedores via WhatsApp. API REST fenice.ia.br — /buscar (Free), /analisar /hermeneutica /tcc (Premium). Auth: X-Fenice-Key. Stack: FastAPI + Supabase + Groq. Seja técnico e preciso. Chaves: contato@fenice.ia.br. Cliente: ${nome}. © 2026 Fenice IT Justech.IA`,\n  juridico: `Você é o assistente jurídico da Fenice IT Justech.IA, via WhatsApp. Direito brasileiro: CC, CLT, CP, CF/88, CDC. Seja profissional e objetivo (máx 800 chars). Se incerto → diga que pesquisa. Nunca invente leis. Cliente: ${nome}. © 2026 Fenice IT Justech.IA`,\n  filosofia: `Você é o assistente de Filosofia, Teologia e Pensamento da Fenice IT Justech.IA, via WhatsApp. Domínio: filosofia jurídica, hermenêutica, teologia cristã/islâmica/judaica, ética, metafísica. Seja reflexivo e acessível. Cite pensadores relevantes. Cliente: ${nome}. © 2026 Fenice IT Justech.IA`\n};\n\nconst sistemaPrompt = SYSTEM_PROMPTS[areaAtual] || SYSTEM_PROMPTS.juridico;\n\nconst groqBody = JSON.stringify({\n  model: 'llama-3.3-70b-versatile',\n  messages: [\n    { role: 'system', content: sistemaPrompt },\n    { role: 'user', content: mensagem }\n  ],\n  max_tokens: 800,\n  temperature: 0.7\n});\n\nreturn [{ json: { numero, nome, mensagem, areaAtual, groqBody } }];"
      },
      "id": "node-010",
      "name": "10. Montar Prompt por Área",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{GROQ_API_KEY_N8N}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.groqBody }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-011",
      "name": "11. Groq — Resposta IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const groqResult = $input.first().json;\nconst dadosPrompt = $('10. Montar Prompt por Área').first().json;\n\nconst respostaAi = (groqResult.choices && groqResult.choices.length > 0)\n  ? groqResult.choices[0].message.content\n  : 'Nosso assistente está com alta demanda. Tente em 1 minuto ou: contato@fenice.ia.br';\n\nreturn [{\n  json: {\n    numero: dadosPrompt.numero,\n    nome: dadosPrompt.nome,\n    mensagem: dadosPrompt.mensagem,\n    areaAtual: dadosPrompt.areaAtual,\n    respostaAi,\n    modeloAi: groqResult.model || 'llama-3.3-70b-versatile'\n  }\n}];"
      },
      "id": "node-012",
      "name": "12. Extrair Resposta Groq",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.avisaapi.com.br/api/actions/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gFm8iB2bF2MpqGeEFxsv6oqp7VAkUGg2xVRAqDVa5gSniojrrpJLMmyZNExQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numero }}"
            },
            {
              "name": "message",
              "value": "={{ $json.respostaAi }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-013",
      "name": "13. Enviar Resposta (AvisaAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const avisaResult = $input.first().json;\nconst dadosMsg = $('12. Extrair Resposta Groq').first().json;\n\nconst entregue = avisaResult.status === true;\nconst httpStatus = avisaResult.data?.response?.code || 200;\n\nconst logBody = JSON.stringify({\n  numero_remetente: dadosMsg.numero,\n  nome_remetente: dadosMsg.nome,\n  mensagem_cliente: dadosMsg.mensagem,\n  resposta_ai: dadosMsg.respostaAi,\n  modelo_ai: dadosMsg.modeloAi,\n  provider: 'avisa',\n  canal: 'whatsapp',\n  entregue,\n  http_status_avisa: httpStatus\n});\n\nconst timBody = JSON.stringify({\n  numero: dadosMsg.numero,\n  nome: dadosMsg.nome,\n  area: dadosMsg.areaAtual,\n  estagio: 'atendimento',\n  ultimo_contato: new Date().toISOString()\n});\n\nreturn [{ json: { logBody, timBody, entregue } }];"
      },
      "id": "node-014",
      "name": "14. Montar Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qcfdssnpjzvjbvemhrik.supabase.co/rest/v1/interacoes_whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjZmRzc25wanp2amJ2ZW1ocmlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwMzQ3OSwiZXhwIjoyMDk3Mjc5NDc5fQ.1492WOIw4KpT4u57zx-DyT-5O8gEawkWWtjUXMWA2-I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjZmRzc25wanp2amJ2ZW1ocmlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwMzQ3OSwiZXhwIjoyMDk3Mjc5NDc5fQ.1492WOIw4KpT4u57zx-DyT-5O8gEawkWWtjUXMWA2-I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.logBody }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "node-015",
      "name": "15a. Log Supabase (interacoes)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        580
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qcfdssnpjzvjbvemhrik.supabase.co/rest/v1/fenice_tim_contatos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjZmRzc25wanp2amJ2ZW1ocmlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwMzQ3OSwiZXhwIjoyMDk3Mjc5NDc5fQ.1492WOIw4KpT4u57zx-DyT-5O8gEawkWWtjUXMWA2-I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjZmRzc25wanp2amJ2ZW1ocmlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwMzQ3OSwiZXhwIjoyMDk3Mjc5NDc5fQ.1492WOIw4KpT4u57zx-DyT-5O8gEawkWWtjUXMWA2-I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('14. Montar Logs').item.json.timBody }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "node-015b",
      "name": "15b. Upsert Fenice_Tim (contatos)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        740
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qcfdssnpjzvjbvemhrik.supabase.co/rest/v1/fenice_tim_contatos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjZmRzc25wanp2amJ2ZW1ocmlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwMzQ3OSwiZXhwIjoyMDk3Mjc5NDc5fQ.1492WOIw4KpT4u57zx-DyT-5O8gEawkWWtjUXMWA2-I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjZmRzc25wanp2amJ2ZW1ocmlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwMzQ3OSwiZXhwIjoyMDk3Mjc5NDc5fQ.1492WOIw4KpT4u57zx-DyT-5O8gEawkWWtjUXMWA2-I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "numero",
              "value": "={{ $('7. Decidir Próxima Ação').item.json.numero }}"
            },
            {
              "name": "nome",
              "value": "={{ $('7. Decidir Próxima Ação').item.json.nome }}"
            },
            {
              "name": "area",
              "value": "={{ $('7. Decidir Próxima Ação').item.json.areaAtual }}"
            },
            {
              "name": "estagio",
              "value": "prospect"
            },
            {
              "name": "ultimo_contato",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "id": "node-016",
      "name": "16. Salvar Área Escolhida (Tim)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        820
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.avisaapi.com.br/api/actions/sendMedia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gFm8iB2bF2MpqGeEFxsv6oqp7VAkUGg2xVRAqDVa5gSniojrrpJLMmyZNExQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numero }}"
            },
            {
              "name": "type",
              "value": "image"
            },
            {
              "name": "fileUrl",
              "value": "https://qcfdssnpjzvjbvemhrik.supabase.co/storage/v1/object/public/fenice-assets/fenice-banner.png"
            },
            {
              "name": "fileName",
              "value": "fenice-banner.png"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-009-logo",
      "name": "9-logo. Enviar Logo Fenice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        160
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "1. Receber Mensagem (AvisaAPI)": {
      "main": [
        [
          {
            "node": "2. Extrair e Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Extrair e Normalizar": {
      "main": [
        [
          {
            "node": "3. Mensagem válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Mensagem válida?": {
      "main": [
        [
          {
            "node": "4. É PARAR?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "4. É PARAR?": {
      "main": [
        [
          {
            "node": "5a. Enviar MSG PARAR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "6. Buscar Contato Tim (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5a. Enviar MSG PARAR": {
      "main": [
        [
          {
            "node": "5b. Salvar Opt-Out Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Buscar Contato Tim (Supabase)": {
      "main": [
        [
          {
            "node": "7. Decidir Próxima Ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Decidir Próxima Ação": {
      "main": [
        [
          {
            "node": "8. Switch por Ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Switch por Ação": {
      "main": [
        [
          {
            "node": "9-logo. Enviar Logo Fenice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "9b. Enviar MSG Humano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "16. Salvar Área Escolhida (Tim)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10. Montar Prompt por Área",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9-logo. Enviar Logo Fenice": {
      "main": [
        [
          {
            "node": "9a. Enviar Menu Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16. Salvar Área Escolhida (Tim)": {
      "main": [
        [
          {
            "node": "10. Montar Prompt por Área",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Montar Prompt por Área": {
      "main": [
        [
          {
            "node": "11. Groq — Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Groq — Resposta IA": {
      "main": [
        [
          {
            "node": "12. Extrair Resposta Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Extrair Resposta Groq": {
      "main": [
        [
          {
            "node": "13. Enviar Resposta (AvisaAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Enviar Resposta (AvisaAPI)": {
      "main": [
        [
          {
            "node": "14. Montar Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Montar Logs": {
      "main": [
        [
          {
            "node": "15a. Log Supabase (interacoes)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "15b. Upsert Fenice_Tim (contatos)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "id": "fenice-tim-v3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fenice-n8n"
  },
  "tags": [
    {
      "name": "fenice"
    },
    {
      "name": "whatsapp"
    },
    {
      "name": "tim"
    },
    {
      "name": "ivr"
    }
  ]
}